<div class="col-md-12 col-sm-12">
@if (Model.books.Count > 0) {
	foreach(var book in Model.books) {
		<div class = "col-md-3 col-sm-12 card thumb">
			<div id = 'book' class = 'thumbnail'>
				<img src = '../Content/images/book_cover_2.png' class = "picture" />
				<div class = 'caption'>
					@using(Html.BeginForm("AddToCard", "Home", FormMethod.Post))
					{
						<center><h4>@book.title</h4></center>
						<div class = "col-md-12 col-sm-12">
							<div class = ""><h5><b>Author:</b> @book.author</h5></div>
							<div class = ""><h5><b>Price:</b> SEK @book.price</h5></div>
						</div>
						<div class = "col-md-12 col-sm-12">
							<button class = "btn btn-default">Add To Basket</button>
						</div>
						@Html.TextBox("bookTitle", 	 (string)@book.title,  new {@type = "hidden"})
						@Html.TextBox("bookAuthor",  (string)@book.author, new {@type = "hidden"})
						@Html.TextBox("bookprice", 	 (string)@book.price,  new {@type = "hidden"})
						@Html.TextBox("bookinStock", (int)@book.inStock,   new {@type = "hidden"})
					}
				</div>
			</div>
		</div>
	}
}
else {
	<center><h1 class = "no_books_txt">NO BOOKS MATCH YOUR SEARCH</h1></center>
}
</div>
